<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1">
	<title>jekyll-history</title>
	<link rel=stylesheet href="{{asset_path "style.css"}}">
</head>
<body>
	<header class=site-header>
		<h1>jekyll-history</h1>
	</header>

	<main>
		<form method=get action=/goto/>
			<label for=url class=offscreen>GitHub URL:</label>
			<input class=url name=url type=url placeholder="Paste a GitHub user, repo or commit URL here." autofocus>
		</form>

		<p>jekyll-history is a hosted service that downloads a git repository and runs <code>jekyll build</code> at any commit in its history.</p>
	</main>

	<footer class=site-footer>
		<p>© 2016 <a href=https://tomthorogood.co.uk/>Tom Thorogood</a>.</p>
	</footer>
</body>
{{- /* -*- mode: html;-*- */ -}}
