<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1">
	<title>{{.User | html}}/{{.Repo | html}} · jekyll-history-service</title>
	<link rel=stylesheet href={{"style.css" | asset_path | html5_attr}}>
</head>
<body>
	<h1>jekyll-history-service</h1>
	<h2>{{.User | html}}/{{.Repo | html}}</h2>

	<ul>
	{{- with $base := .}}
	{{- range .Commits}}
		<li><a href={{print "/u/" ($base.User | urlquery) "/r/" ($base.Repo | urlquery) "/c/" (.SHA | urlquery) "/" | html5_attr}}>{{$base.User | html}}/{{$base.Repo | html}}@<code>{{.SHA | html}}</code></a>:
			{{- if .Commit}} {{.Commit.Message | html}}{{end -}}
		</li>
	{{- end}}
	{{- end}}
	</ul>

	{{- if (or (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}}

	<p>
		{{- if (eq .Resp.PrevPage 1) -}}
			<a href={{print "/u/" (.User | urlquery) "/r/" (.Repo | urlquery) "/" | html5_attr}}>← Prev page</a>
		{{- else if (ne .Resp.PrevPage 0) -}}
			<a href={{print "/u/" (.User | urlquery) "/r/" (.Repo | urlquery) "/p/" .Resp.PrevPage "/" | html5_attr}}>← Prev page</a>
		{{- end -}}
		{{- if (and (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}} · {{end -}}
		{{- if (ne .Resp.NextPage 0) -}}
			<a href={{print "/u/" (.User | urlquery) "/r/" (.Repo | urlquery) "/p/" .Resp.NextPage "/" | html5_attr}}>Next page →</a>
		{{- end -}}
	</p>
	{{- end}}
</body>
