<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1">
	<title>{{.User}}/{{.Repo}}{{if .Tree}}/{{.Tree}}{{end}} · jekyll-history</title>
	<link rel=stylesheet href="{{asset_path "style.css"}}">
</head>
<body>
	<header class=site-header>
		<h1><a href=/>jekyll-history</a></h1>
		<h2><a href="/u/{{.User}}/">{{.User}}</a>
			{{- if .Tree -}}
				/<a href="/u/{{.User}}/r/{{.Repo}}/">{{.Repo}}</a>/{{.Tree}} <a href="https://github.com/{{.User}}/{{.Repo}}/tree/{{.Tree}}" title="View on GitHub">⤴</a>
			{{- else -}}
				/{{.Repo}} <a href="https://github.com/{{.User}}/{{.Repo}}" title="View on GitHub">⤴</a>
			{{- end -}}
		</h2>
	</header>

	<main>
		<ul>
		{{- range .Commits}}
			<li><a href="/u/{{$.User}}/r/{{$.Repo}}/c/{{.SHA}}/"><code>{{truncate .SHA 10}}</code></a>:
				{{- if .Commit}} {{.Commit.Message}}{{end}} <a href="{{.HTMLURL}}" title="View on GitHub">⤴</a></li>
		{{- end}}
		</ul>

		{{- if (or (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}}

		<footer>
			<p>
			{{- if .Tree -}}
				{{- if (eq .Resp.PrevPage 1) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/t/{{.Tree}}/">← Prev page</a>
				{{- else if (ne .Resp.PrevPage 0) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/t/{{.Tree}}/p/{{.Resp.PrevPage}}/">← Prev page</a>
				{{- end -}}
				{{- if (and (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}} · {{end -}}
				{{- if (ne .Resp.NextPage 0) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/t/{{.Tree}}/p/{{.Resp.NextPage}}/">Next page →</a>
				{{- end -}}
			{{- else -}}
				{{- if (eq .Resp.PrevPage 1) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/">← Prev page</a>
				{{- else if (ne .Resp.PrevPage 0) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/p/{{.Resp.PrevPage}}/">← Prev page</a>
				{{- end -}}
				{{- if (and (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}} · {{end -}}
				{{- if (ne .Resp.NextPage 0) -}}
					<a href="/u/{{.User}}/r/{{.Repo}}/p/{{.Resp.NextPage}}/">Next page →</a>
				{{- end -}}
			{{- end -}}
			</p>
		</footer>
		{{- end}}
	</main>
</body>
{{- /* -*- mode: html;-*- */ -}}
