<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1">
	<title>{{.User}} · jekyll-history</title>
	<link rel=stylesheet href="{{asset_path "style.css"}}">
</head>
<body>
	<header class=site-header>
		<h1><a href=/>jekyll-history</a></h1>
		<h2>{{.User}} <a href="https://github.com/{{.User}}" title="View on GitHub">⤴</a></h2>
	</header>

	<main>
		<ul>
		{{- range .Repos}}
			<li><a href="/u/{{$.User}}/r/{{.Name}}/">{{.Name}}</a>: {{.Description}} <a href="{{.HTMLURL}}" title="View on GitHub">⤴</a></li>
		{{- end}}
		</ul>

		{{- if (or (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}}

		<footer>
			<p>
				{{- if (eq .Resp.PrevPage 1) -}}
					<a href="/u/{{.User}}/">← Prev page</a>
				{{- else if (ne .Resp.PrevPage 0) -}}
					<a href="/u/{{.User}}/p/{{.Resp.PrevPage}}/">← Prev page</a>
				{{- end -}}
				{{- if (and (ne .Resp.PrevPage 0) (ne .Resp.NextPage 0))}} · {{end -}}
				{{- if (ne .Resp.NextPage 0) -}}
					<a href="/u/{{.User}}/p/{{.Resp.NextPage}}/">Next page →</a>
				{{- end -}}
			</p>
			{{- end}}
		</footer>
	</main>
</body>
{{- /* -*- mode: html;-*- */ -}}
