/*! http://bettermotherfuckingwebsite.com/ */

body {
	margin: 40px auto;
	padding:0 10px;

	max-width: 700px;

	line-height: 1.6;
	font-size: 18px;

	color: #444;
}

h1, h2, h3 {
	line-height: 1.2;
}

/*! https://rawgit.com/ */
.offscreen {
	position: absolute;
	left: -9999px;
}

input.url {
	width: 100%;

	padding: 0 6px;

	background: #fbfbfb;
	border: thin solid #dfdfdf;

	font-size: 1.3em;
	text-align: center;

	cursor: text;
}

/*! https://codepen.io/flesler/pen/AEIFc */
.permalink-path {
	padding: 3px;

	border: thin dashed #aaa;
}

.permalink-path:empty:before {
	content: attr(placeholder);
}

/*! Tom Thorogood */
pre {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.commit-message {
	margin-bottom: 0;

	font-size: 1.2em;
}

.commit-author {
	margin-top: 0;
	padding-left: 1em;
}

.file-diff h3 {
	margin-bottom: 0;
}

.file-diff pre {
	margin-top: 0;
}

hr, .site-footer {
	width: 90%;

	margin: 0 auto;

	border: none;
	border-top: thin dotted #aaa;
}

.site-footer {
	text-align: center;
}
