/*! http://bettermotherfuckingwebsite.com/ */

body {
	margin: 40px auto;
	padding:0 10px;

	max-width: 700px;

	line-height: 1.6;
	font-size: 18px;

	color: #444;
}

h1, h2, h3 {
	line-height: 1.2;
}

/* ! https://rawgit.com/ */
.offscreen {
	position: absolute;
	left: -9999px;
}

input.url {
	width: 100%;

	padding: 0 6px;

	background: #fbfbfb;
	border: thin solid #dfdfdf;

	font-size: 1.3em;
	text-align: center;

	cursor: text;
}
